  <div><%= flash[:error] %></div>
  <div><%= flash[:succes] %></div>

<p>L'événement  <%= @event.description %> a bien été crée</p>
<p>Il aura lieu le : <%= @event.date %> à <%= @event.place %> Souhaites tu y participer.</p>