<section>
	<div class="container">
		<h1>Liste des événements</h1>
		<div class="table-responsive"> 
			<table class="table table-hover table-dark-ligth">
				<thead>
					<tr>
						<th scope="col"><span class="fi-media-play"></span>#</th>
						<th scope="col">Event :</th>
						<th scope="col">Date :</th>
						<th scope="col">Place :</th>
						<th scope="col">Prix :</th>
						<th scope="col">Crée par :</th>
						<th scope="col">Nb de participants :</th>
						<th scope="col">Voir l'event :</th>


					</tr>
				</thead>
				<% @events.order(:date).each do |t| %>
				<tbody>
					<th> <%= t.id %></th>
					<th> <%= t.description %></th>								
					<th> <%= t.date.strftime('%a %d %b %Y')  %></th>
					<th> <%= t.place %></th>
					<th> <%= t.price %></th>
					<th> <%= @users.find(t.creator_id).username %></th>

					<th> <%= t.users.count %></th>
					<th><%= link_to 'show', event_path(t.id), class: 'btn btn-primary' %> </th>

				</tbody>
				<% end %>
			</table>
		</div> 
	</div>
</section>
