<div class='row'>
	<div class="bg-light mt-1 p-5 col-lg-8">

		
			
					
					<%= form_for @event, url: {action: "create"} do |f| %> 
					<%= f.label :description %>
					<%= f.text_field :description %>
					<%= f.label :date %>
					<%= f.date_field :date %>
					<%= f.label :place %>
					<%= f.text_field :place %>
					<%= f.label :price %>
					<%= f.text_field :price %>
					<%= f.submit "Create" %>
					<% end %>
		
		
	</div>
</div>